@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--background);
  @apply transition-colors duration-200 ease-in-out;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes twinkle {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

.animate-twinkle {
  animation: twinkle 1.5s infinite;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Slightly grow */
  }
  100% {
    transform: scale(1); /* Return to original size */
  }
}

.animate-grow-shrink {
  animation: grow-shrink 0.2s ease-in-out; /* Adjust duration as needed */
}
